.switch {  
  $switch-width: 52px;
  $switch-padding: 2px;
  $switch-height: 32px;
  $knob-size: $switch-height - ($switch-padding * 2);
  $knob-width: $knob-size;

  cursor: pointer;
  display: inline-block;
  position: relative;

  input {
    display: none;

    + .checkbox {
      border: 1px solid #000;
      cursor: pointer;
      height: $switch-height;
      position: relative;
      width: $switch-width;
      z-index: 0;

      &::before {
        bottom: 0;
        content: "";
        left: $switch-padding;
        position: absolute;
        right: 0;
        top: $switch-padding;
        width: $switch-width - ($switch-padding * 2);
        z-index: 1;
      }

      &::after {
        background-color: #000;
        bottom: 0;
        content: "";
        height: $knob-size;
        left: 1px;
        position: absolute;
        right: 0;
        top: 1px;
        transition: all 0.3s ease;
        width: $knob-size;
        z-index: 2;
      }
    }

    &:checked {
      + .checkbox {
        background-color: #aaa;

        &::after {
          left: $switch-width - $knob-width - ($switch-padding * 2) + 1px;
        }
      }
    }
  }
}
