.vertical-tabs-container {
  $medium-screen: 30em !default;
  $vertical-tabs-height: 20em;

  @include clearfix;

  .vertical-tabs {
    display: none;

    @media (min-width: $medium-screen) {
      display: inline;
      float: left;
      height: $vertical-tabs-height;
      width: 20%;
    }
  }

  .vertical-tab {
    @media (min-width: $medium-screen) {
      display: block;

      &.is-active {
        color: #ff0000;
      }
    }
  }

  .vertical-tab-content-container {
    display: block;

    @media (min-width: $medium-screen) {
      @include size(80% $vertical-tabs-height);
      display: inline-block;
    }
  }

  .vertical-tab-content {
    @media (min-width: $medium-screen) {
      display: none;
    }
  }

  .vertical-tab-accordion-heading {
    cursor: pointer;
    display: block;

    @media (min-width: $medium-screen) {
      display: none;
    }
  }
}

// Based on code by Jett Miller jettmiller.net
